body{
margin: 0;
padding:0;
height: 100vh;
background-image: url('images/WelcomePageImage.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
font-family: Arial, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}
.title {
    margin: 20px 0 0 0;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    align-items: center;
    flex: 1;
}
.box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: #A0522D;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    backdrop-filter: blur(5px);
}

.box-button:hover {
    background-color: #8B4513;;
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
.blur-shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 80px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}